<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 貍小路
    body
        div(ID="banner")
            nav
                img(src="imgs/Logo_01.png", alt="貍小路 LOGO")
                div(id="link")
                    a(href="#") 最新消息
                    a(href="#") 產品介紹
                    a(href="#") 連絡我們