html(lang="zh")
    head
        meta(charset="UTF-8")
        title 貍小路
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="imgs/161218_Logo_01.png", type="image/x-icon")
    body
        include nav.pug

        h1 最新消息頁面

        include footer.pug
