*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}

#banner{
    background-image: url(imgs/Banner_001.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100vw / 2.2);
}
#LOGO {
    width: 300px;
}
#link{
    float: right;
    padding: 100px 100px;
}
#link a {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    font-weight: 900;
}
#link a:hover{
    background-color:  #fedf48;
    color: black;
    transform: 0.6s;
}

nav{
    width: 70%;
    margin: 0 auto;
    padding: 100px 0;
}

#brands{
    text-align: center;
    color: #58451a;
}

#brands p{
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    line-height: 2;
    opacity: 0.6;
    letter-spacing: 6px;
}

.title-box{
    text-align: center;
    color: #58451a;
}
.title{
    font-size: 1.5em;
    padding: 10px 0;
}
.title::before{
    content: "＼";
    padding-right: 20px;
}

.title::after{
    content: "／";
    padding-left: 20px;
}

.title-box h1 {
    font-size: 1.6em;
}