*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}
body{
    background-color: #faf7f0;
    text-align: center;
}
#banner{
    background-image: url(imgs/Banner_001.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100vw / 2.2);
}
.LOGO {
    width: 300px;
}
.link{
    float: right;
    padding: 40px 0x;
}
.link a {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    font-weight: 900;
}
.link a:hover{
    background-color:  #fedf48;
    color: black;
    transform: 0.6s;
}

nav{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: left;
}

#brands{
    text-align: center;
    color: #58451a;
}

#brands p{
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    line-height: 2;
    opacity: 0.6;
    letter-spacing: 6px;
}

.title-box{
    text-align: center;
    color: #58451a;
}
.title{
    font-size: 1.5em;
    padding: 10px 0;
}
.title::before{
    content: "＼";
    padding-right: 20px;
}

.title::after{
    content: "／";
    padding-left: 20px;
}

.title-box h1 {
    font-size: 1.6em;
}

#product {
    display: grid;

    grid-template-columns: auto auto auto;

    grid-gap: 20px;

    width: 900px;

    margin: 0 auto;

    text-align: left;

}

#product img {
    width: 100%;
}

.product-box a{
    text-decoration: none;
}

.product-box h2{
    color: #fbab13;
    letter-spacing: 3px;
    tab-size: 1.2em;

}

.product-box hr {
    height: 2px;
    background-color:#bdac90;
    border: 0;
    margin: 20px 0;
}

.product-box p {
    color: #58451a;
    font-style: 0.8em;
    padding: 10px 0;
    line-height: 1.8;
}

.btn-big {
    display: inline-block;
    background-color:#642200;
    color: #fff;
    text-decoration: none;
    padding: 20px 80px;
    border:2px solid #642200;
    font-weight: 900;
    margin: 50px 0 90px 0;
    transition: 0.6s;
}

.btn-big:hover {

    background-color:transparent;
    color:#642200;
}

.small-line{
    background-image: url(imgs/small-line.png);
    height: 5px;
    background-repeat: repeat-x;
    margin-bottom: 20px;
}

footer{
    background-color: #642200;
    color: #fff;
    margin-top: 100px;
}
footer #copy {
    padding-top: 50px;
    font-size: 0.5em;
    text-align: center;
}

@media screen and (min-width: 1024px) {
  
}

@media screen and (max-width: 1023px) {
    #product {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

}
 
@media screen and (max-width: 767px) {
    #product {
        grid-template-columns: 1fr;
        width: 100%;
    }
    #brands {
        width: 100%;
    }
    #brands p {
        width: 100%;
    }
    #brands > img {
        width: 100%;
    }


}